.root{
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  outline: none;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  
  &:focus{
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .input{
    border: none;
    width: 100%;
    font-size: 1rem;
  }

  .icon{
    font-size: 20px;
    opacity: 0.7;
  }
}